<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
        <a href="/">Inicio</a> 
        <a href="/users">Usuarios</a> 
        <a href="/prueba">Prueba</a> 
        <a href="/Destacados">Destacados</a> 
        <a href="/precios">Precios</a>
      </nav>

    {{{body}}}
  </body>
</html>
